body{
  background-color: white;
  /* background-color:cadetblue; */
  font-family: "Courier New", Monospace;
}

.index_body{
  background-color: white;
  /* background-color:cadetblue; */
  padding: 8% 15% 8% 15%;
  background-image: url("images/ConoPoster\ bw.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 49%; /*49%;*/
  background-position: right bottom;
}

h1{
  /* color: #F8B195; */
  color:rgb(46, 40, 40);
  /* font-family: 'Fasthand', cursive; */
  /* font-family: 'Kalnia', serif; */
  /* font-family: 'Fredericka the Great', serif; */
  font-family: "Courier New", Monospace;

  text-align: left;
  font-size: 3rem;
  font-weight: 200;
  margin: 0 0 0 0;
  padding: 0 0 3% 0;
}

h2{
  text-align: left;
  font-family: "Courier New", Monospace;
  color:rgb(229, 63, 33);
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 0 2rem 0;
  padding: 0 0 3% 0;
}

h3{
  text-align: left;
  font-family: "Courier New", Monospace;
  color:rgb(46, 40, 40);
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
  padding: 0 0 4% 0;
}

h4{
  text-align: left;
  font-family: "Courier New", Monospace;
  color:rgb(229, 63, 33);
  font-size: 1.2rem;
  font-weight: 300;

  margin: 3rem 0 1rem 0;
  padding: 0 0 1% 0;
}

.trick{
  color: rgb(46, 40, 40);
  font-size: 1.5rem;
}

div{
  background-color: white;
  padding: 1% 2% 2% 2%;
  margin: 0% 0% 4% 0%;
}

.shadow{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.button{
  margin: 0 0 1.5% 0;
  /* background-color: rgb(54, 54, 146); */
  background-color: rgb(212, 212, 234);
  border: 0px;
  color: rgb(54, 54, 146);
  border: 1px solid rgb(54, 54, 146);
  border-radius: 2px;
  font-family: "Courier New", Monospace;
  padding: 5px;
}

img{
  height: 20rem;
  border-radius: 2px;
}

/*----------------NAVBAR----------------*/

/* .navbar{
  color:rgb(46, 40, 40);
} */

.container-fluid{
  margin-bottom: 0;
  padding: 0;
}

/* .navbar-light{
  margin-bottom: 0;
} */





/*----------------d&c page----------------*/

.subtitle{
  margin-bottom: 2rem;
}

.dc_body{
  background-color: white;
  padding: 2% 15% 8% 15%;
}

.accordion{
  padding: 0;
}

.card{
  padding: 0;
  margin: 0;
}

.card-body{
  margin: 0;
}

#collapseOne{
  padding: 0;
  margin: 0;
}

#collapseTwo{
  padding: 0;
  margin: 0;
}

#collapseThree{
  padding: 0;
  margin: 0;
}

#collapseFour{
  padding: 0;
  margin: 0;
}

.btn-outline-info{
  align-items:flex-end;
}

.comp-font{
  font-family: 'Wallpoet', sans-serif;
  color:rgb(36, 34, 55);
}

.comp{
  font-family: 'Roboto Mono', monospace;
  background-color:rgb(36, 34, 55);
  color:white;
}

.center{
  display: block;
  margin: auto;
}

.posters{
  display: grid;
  place-items: center;
  background-color: rgb(36, 34, 55);
  margin: 0;
}
